<!DOCTYPE html>
<html lang="en">

  <head>
    <title>CRUD - Read</title>

    <meta charset="utf-8">

    <%= stylesheet_link_tag "main" %>
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
  </head>

  <body>
  
    <header class="primary-header container group">
      <nav class="nav primary-nav">
        <ul>
          <li><%= link_to "Return to messages", articles_path %>
        </ul>
      </nav>
    </header>

    <section class="hero container">
      <h2>Read Message</h2>
    </section>

    <section class="row-alt">
      <div class="lead container">
        <p>CRUD - Read</p>
      </div>
    </section>

    <section class="row-new-article">
      <div class="grid">
	  
        <h6><strong>Title: </strong><%= @article.title %></h6>
        <h6><strong>Description: </strong><%= @article.description %></h6>

      </div>
    </section>

    <footer class="primary-footer container group">
      
      <small>&copy; Filipe Zeferino</small>

      <nav class="nav-footer">
        <ul>
          <li><%= link_to 'Edit', edit_article_path(@article) %></li><!--
          --><li><%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %></li><!--
          --><li><%= link_to "Return to messages", articles_path %></li>
        </ul>
      </nav>

    </footer>

  </body>

</html>
