<head> 
  <title>View Message</title>
</head>

<section class="hero container">
  <h2>View Message</h2>
</section>

<div class="container">
  <div class="row justify-content-center" >
    <div class="col-10" >
      <%= form_with(model: @article, class: "shadow p-3 mb-3 rounded", id: "form", local: true) do |f| %>
        <div class="form-group row", id="form">
          <%= f.label :title, class: "col-2 col-form-label text-light" %>
          <div class="col-10", id="form" >
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Message's title" %>
          </div>
        </div>
        <br>
        <div class="form-group row", id="form">
          <%= f.label :description, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Message's description" %>
          </div>
        </div>
        <br>
      <% end %>
    </div> 
  </div>
</div>


<section class="row-mine">
  <div class="lead container">
    <a class="btn-mine btn-alt" href="/articles" >return</a>
  </div>
</section>

