<!DOCTYPE html>
<html lang="en">

  <head>
    <title>CSS &map; HTML</title>

    <meta charset="utf-8">

    <%= stylesheet_link_tag "main" %>
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
  </head>

  <body>
    <header class="primary-header container group">
      
      <nav class="nav primary-nav">

        <!-- articles feature not to be displayed yet, missing improvements for authentication -->

        <ul>
          <li><%= link_to "Home", root_path %></li><!--
          --><li><%= link_to "About", about_path %></li><!--
          <li><%= link_to "Articles", articles_path %></li>--><!--
          --><li><%= link_to "CSS + HTML", css_html_path %></li><!--
          --><li><%= link_to "Javascript", js_path %></li><!--
          --><li><%= link_to "Python", python_path %></li><!--
          --><li><%= link_to "Rails", rails_path %></li><!--
          --><li><%= link_to "Coding", coding_path %></li>
        </ul>
      </nav>
    </header>

    <section class="hero container">
      <h2>HTML &amp; CSS learning road map</h2>
    </section>

    <section class="row-alt">
      <div class="lead container">
        <h1>Courses and Tutorials</h1>
        <p>Currently on going to support Rails web applications, hover over the links to get information about the learning status for each item displayed below.</p>
      </div>
    </section>

    <section class="row">
      <div class="grid">

        <!--Shay Howe - Advanced-->

        <section class="teaser col-1-3">
          <h5>Learn to Code HTML &amp; CSS - Advanced</h5>
          <a href="https://learn.shayhowe.com/advanced-html-css/" title="To be started soon" target="_blank">
            <img class="teaser" src="/images/css-html/shay-howe-advanced.PNG" alt="Shay Howe website - CSS and HTML advanced">
            <h3>HTML &amp; CSS - Advanced</h3>
          </a>
          <h4>Learn to Code Advanced HTML & CSS takes a deeper look at front-end design and development, expanding on what is covered in the beginner&#8217;s guide.</h4>
        </section><!--

        MDN Web Docs - CSS Styling Tables
        
        --><section class="teaser col-1-3">
          <h5>MDN Web Docs - CSS Styling Tables</h5>
          <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Styling_tables" title="To be started soon" target="_blank">
            <img class="teaser" src="/images/css-html/MDN-web-docs-css-styling-tables.PNG" alt="MDN Web Docs logo">
            <h3>CSS Styling Tables</h3>
          </a>
          <h4>This article provides a guide to making HTML tables look good, with some specific table styling techniques highlighted.</h4>
        </section>

        <section class="hero2 container">
          <h3><strong>Concluded</strong></h3>
        </section>

        <!--Shay Howe - Basics-->

        <section class="teaser col-1-3">
          <h5>Learn to Code HTML &amp; CSS</h5>
          <a href="https://learn.shayhowe.com/html-css/" title="Concluded on December 2021" target="_blank">
            <img class="teaser" src="/images/css-html/shay-howe-basic.PNG" alt="Shay Howe website - CSS and HTML basics">
            <h3>Develop &amp; Style Websites</h3>
          </a>
          <h4>A simple and comprehensive guide dedicated to helping beginners learn HTML and CSS.</h4>
        </section><!--

        MDN Web Docs - CSS Basics
      
        --><section class="teaser col-1-3">
          <h5>MDN Web Docs - CSS basics</h5>
          <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics" title="Concluded on December 2021" target="_blank">
            <img class="teaser" src="/images/css-html/MDN-web-docs-css.PNG" alt="MDN Web Docs page - CSS basics">
            <h3>CSS basics</h3>
          </a>
          <h4>CSS basics walks through what you need to get started.</h4>
        </section><!--

        MDN Web Docs - HTML Basics
        
        --><section class="teaser col-1-3">
          <h5>MDN Web Docs - HTML basics</h5>
          <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics" title="Concluded on December 2021" target="_blank">
            <img class="teaser" src="/images/css-html/MDN-web-docs-html.PNG" alt="MDN Web Docs page - HTML basics">
            <h3>HTML basics</h3>
          </a>
          <h4>As the title suggests, this article will give you a basic understanding of HTML and its functions.</h4>
        </section>

      </div>
    </section>

    <footer class="primary-footer container group">
      <small>&copy; Filipe Zeferino</small>

      <nav class="nav-footer">
        
        <!-- articles feature not to be displayed yet, missing improvements for authentication -->

        <ul>
          <li><%= link_to "Home", root_path %></li><!--
          --><li><%= link_to "About", about_path %></li><!--
          <li><%= link_to "Articles", articles_path %></li>--><!--
          --><li><%= link_to "CSS + HTML", css_html_path %></li><!--
          --><li><%= link_to "Javascript", js_path %></li><!--
          --><li><%= link_to "Python", python_path %></li><!--
          --><li><%= link_to "Rails", rails_path %></li><!--
          --><li><%= link_to "Coding", coding_path %></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
