<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Filipe Zeferino</title>

    <meta charset="utf-8">

    <%= stylesheet_link_tag "main" %>
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
  </head>

  <body>
    <header class="primary-header container group">
      <nav class="nav primary-nav">
        <ul>
          <li><%= link_to "Home", root_path %></li><!--
          --><li><%= link_to "About", about_path %></li><!--
          --><li><%= link_to "CSS + HTML", css_html_path %></li><!--
          --><li><%= link_to "Javascript", js_path %></li><!--
          --><li><%= link_to "Python", python_path %></li><!--
          --><li><%= link_to "Rails", rails_path %></li><!--
          --><li><%= link_to "Coding", coding_path %></li>
        </ul>
      </nav>
    </header>

    <section class="hero container">
      <br><h2>Filipe Zeferino</h2><br>
      <h2>Welcome to my website!</h2>
      <p>Check below what I could cover so far on coding</p>
      <a class="btn btn-alt" href="css-html" >CSS + HTML</a>
      <a class="btn btn-alt" href="js" >Javascript</a>
      <a class="btn btn-alt" href="python" >Python</a>
      <a class="btn btn-alt" href="rails" >Rails</a>
      <a class="btn btn-alt" href="coding" >Coding</a>
    </section>

    <section class="row-alt">
      <div class="lead container">
        <p>Check out the CRUD feature just lounched:</p>
        <a class="btn btn-alt" href="/articles" >CRUD</a>
      </div>
    </section>

    <footer class="primary-footer container group"> 
      <small>&copy; Filipe Zeferino</small>

      <nav class="nav-footer">
        <ul>
          <li><%= link_to "Home", root_path %></li><!--
          --><li><%= link_to "About", about_path %></li><!--
          --><li><%= link_to "CSS + HTML", css_html_path %></li><!--
          --><li><%= link_to "Javascript", js_path %></li><!--
          --><li><%= link_to "Python", python_path %></li><!--
          --><li><%= link_to "Rails", rails_path %></li><!--
          --><li><%= link_to "Coding", coding_path %></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
