<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>JS</title>
    <%= stylesheet_link_tag "main" %>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
  </head>

  <body>
    
    <header class="primary-header container group">
      <nav class="nav primary-nav">
        <ul>
          <li><%= link_to "Home", root_path %></li><!--
          --><li><%= link_to "About", about_path %></li><!--
          --><li><%= link_to "CSS + HTML", css_html_path %></li><!--
          --><li><%= link_to "Javascript", js_path %></li><!--
          --><li><%= link_to "Python", python_path %></li><!--
          --><li><%= link_to "Rails", rails_path %></li><!--
          --><li><%= link_to "Coding", coding_path %></li>
        </ul>
      </nav>
    </header>

    <section class="hero container">
      <h2>Javascript learning road map</h2>
    </section>

    <section class="row-alt">
      <div class="lead container">
        <p>Currently on hold, focusing on Rails. Hover over the the links to get information about the learning status for each item displayed below.</p>
      </div>
    </section>

    <section class="row">
      <div class="grid">

        <!--HackerRank - 30 Days of Code-->
        
        <section class="teaser col-1-3">
          <h5>HackerRank - 30 Days of Code</h5>
          <a href="https://www.hackerrank.com/domains/tutorials/30-days-of-code" target="_blank">
            <img class="teaser" src="/images/python/hackerrank-30-days-code.PNG" title="Currently on day 18 out of 30 (60% completed)" alt="HackerRank - 30 Days of Code">
            <h3>30 Days of Code</h3>
          </a>
          <h4>Tutorial with proposed problems for solution through coding (multiple lenguages supported)</h4>
        </section><!--
        
        HackerRank - Problem Solving
        
        --><section class="teaser col-1-3">
          <h5>HackerRank - Problem Solving</h5>
          <a href="https://www.hackerrank.com/domains/algorithms/" target="_blank">
            <img class="teaser" src="/images/python/hackerrank-problem-solving.PNG" title="On going, currently on silver level (20% completed)" alt="HackerRank - Problem Solving">
            <h3>Problem Solving</h3>
          </a>
          <h4>Tutorial with proposed problems for solution through coding (multiple lenguages supported).</h4>
        </section>

        <section class="hero2 container">
          <h3><strong>Concluded</strong></h3>
        </section>

        <!--Trybe - JS basics-->

        <section class="teaser col-1-3">
          <h5>Trybe - JS basics</h5>
          <a href="https://freecourse.betrybe.com/" title="Concluded on June 2021" target="_blank">
            <img class="teaser" src="/images/js/trybe.PNG" alt="Trybe free course website">
            <h3>JS basics</h3>
          </a>
          <h4>Course to cover the very basics of coding with JS.</h4>
        </section><!--

        Hiring Coders - JS Basics
      
        --><section class="teaser col-1-3">
          <h5>Hiring Coders - JS Basics</h5>
          <a href="https://hiringcoders2.slack.com/" target="_blank">
            <img class="teaser" src="/images/js/hiringcoders.PNG" title="Concluded on June 2021" alt="Hiring Coders free course website">
            <h3>JS basics</h3>
          </a>
          <h4>Course to cover the very basics of coding with JS. No longer available.</h4>
        </section>

      </div>
    </section>

    <footer class="primary-footer container group"> 
      
      <small>&copy; Filipe Zeferino</small>

      <nav class="nav-footer">
        <ul>
          <li><%= link_to "Home", root_path %></li><!--
          --><li><%= link_to "About", about_path %></li><!--
          --><li><%= link_to "CSS + HTML", css_html_path %></li><!--
          --><li><%= link_to "Javascript", js_path %></li><!--
          --><li><%= link_to "Python", python_path %></li><!--
          --><li><%= link_to "Rails", rails_path %></li><!--
          --><li><%= link_to "Coding", coding_path %></li>
        </ul>
      </nav>

    </footer>
    
  </body>
</html>
