<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Miscelaneous</title>

    <meta charset="utf-8">

    <%= stylesheet_link_tag "main" %>
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
  </head>

  <body>

    <header class="primary-header container group">
      
      <nav class="nav primary-nav">

        <!-- articles feature not to be displayed yet, missing improvements for authentication -->

        <ul>
          <li><%= link_to "Home", root_path %></li><!--
          --><li><%= link_to "About", about_path %></li><!--
          <li><%= link_to "Articles", articles_path %></li>--><!--
          --><li><%= link_to "CSS + HTML", css_html_path %></li><!--
          --><li><%= link_to "Javascript", js_path %></li><!--
          --><li><%= link_to "Python", python_path %></li><!--
          --><li><%= link_to "Rails", rails_path %></li><!--
          --><li><%= link_to "Miscelaneous", miscelaneous_path %></li>
        </ul>
      </nav>

    </header>  

    <footer class="primary-footer container group">
      
      <small>&copy; My test website</small>

      <nav class="nav-footer">
        
        <!-- articles feature not to be displayed yet, missing improvements for authentication -->

        <ul>
          <li><%= link_to "Home", root_path %></li><!--
          --><li><%= link_to "About", about_path %></li><!--
          <li><%= link_to "Articles", articles_path %></li>--><!--
          --><li><%= link_to "CSS + HTML", css_html_path %></li><!--
          --><li><%= link_to "Javascript", js_path %></li><!--
          --><li><%= link_to "Python", python_path %></li><!--
          --><li><%= link_to "Rails", rails_path %></li><!--
          --><li><%= link_to "Miscelaneous", miscelaneous_path %></li>
        </ul>
      </nav>

    </footer>

  </body>
</html>
