<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Rails</title>

    <meta charset="utf-8">

    <%= stylesheet_link_tag "main" %>
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
  </head>

  <body>

    <header class="primary-header container group">
      
      <nav class="nav primary-nav">

        <!-- articles feature not to be displayed yet, missing improvements for authentication -->

        <ul>
          <li><%= link_to "Home", root_path %></li><!--
          --><li><%= link_to "About", about_path %></li><!--
          <li><%= link_to "Articles", articles_path %></li>--><!--
          --><li><%= link_to "CSS + HTML", css_html_path %></li><!--
          --><li><%= link_to "Javascript", js_path %></li><!--
          --><li><%= link_to "Python", python_path %></li><!--
          --><li><%= link_to "Rails", rails_path %></li><!--
          --><li><%= link_to "Miscelaneous", miscelaneous_path %></li>
        </ul>
      </nav>

    </header>

    <section class="hero2 container">
      <h2>Ruby on Rails learning road map</h2>
      <h3>Courses and Tutorials</h3>
    </section>

    <section class="row">
      <div class="grid">

        <section class="hero2 container">
          <h3><strong>On going</strong></h3>
        </section>
  
        <!--Udemy - Ruby on Rails-->

        <section class="teaser col-1-3">
          <h5>Ruby on Rails Developer Course</h5>
          <a href="https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/" target="_blank">
            <img class="teaser" src="/images/rails/ruby-on-rails-developer-udemy.PNG" alt="Udemy - Ruby on Rails Course">
            <h3>Ruby on Rails Developer Course</h3>
          </a>
          <h4>Learn to make innovative web apps with Ruby on Rails and unleash your creativity</h4>
        </section><!--

        One Bit Code - Pure Ruby
        
        --><section class="teaser col-1-3">
          <h5>One Bit Code - Pure Ruby</h5>
          <a href="https://onebitcode.com/course/ruby-puro/" target="_blank">
            <img class="teaser" src="/images/rails/onebitcode-ruby-puro.PNG" alt="One Bit Code - Pure Ruby">
            <h3>Pure Ruby Course</h3>
          </a>
          <h4>10 classes with examples and tutorials, at the end of the course it is proposed a final project to be deployed.</h4>
        </section>

      </div>
    </section>

    <footer class="primary-footer container group">
      
      <small>&copy; My test website</small>

      <nav class="nav-footer">
        
        <!-- articles feature not to be displayed yet, missing improvements for authentication -->

        <ul>
          <li><%= link_to "Home", root_path %></li><!--
          --><li><%= link_to "About", about_path %></li><!--
          <li><%= link_to "Articles", articles_path %></li>--><!--
          --><li><%= link_to "CSS + HTML", css_html_path %></li><!--
          --><li><%= link_to "Javascript", js_path %></li><!--
          --><li><%= link_to "Python", python_path %></li><!--
          --><li><%= link_to "Rails", rails_path %></li><!--
          --><li><%= link_to "Miscelaneous", miscelaneous_path %></li>
        </ul>
      </nav>

    </footer>

  </body>
</html>
